@import '../../var.css';

.settings {
  position: absolute;
  z-index: 100;
  width: 100%;
  bottom: 0;
  top: 114px;
  margin-left: var(--main-offset-neg);
  background-color: var(--second-color);
  display: flex;
  transition: margin-left 0.2s ease-in-out;
}

.open {
  margin-left: 0;
}

.settings-info {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: var(--main-offset-neg);
  top: 0;
  width: var(--main-offset-pos);
  height: var(--main-margin);
  background-color: var(--second-color);
}

.settings-main {
  flex-grow: 1;
  padding: 1rem 2rem;
  color: aliceblue;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.settings-main-title {
  font-size: 3rem;
  color: var(--second-color);
}

.settings-main-dropdown {
  margin: 2rem 0;
}

.settings-main-container {
  height: 50%;
  width: 100%;
}

.settings-control {
  width: var(--main-offset-dif);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  opacity: 0.3;
}