.info {
  width: 100px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
}

.info h2 {
  margin: 0;
  font-size: 1.5rem;
  flex-grow: 1;
}

.info-icon {
  background-color: var(--accent-color);
  height: 100%;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
