.calcul {
  width: clamp(400px, 80%, var(--main-width));
  margin: 4rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.calcul-number {
  border: 3px solid rgba(0, 0, 0, 0.205);
  background-color: rgba(0, 0, 0, 0.014);
  border-radius: 1rem;
  padding: 1rem;
  min-width: 10rem;
}

.calcul-number h2 {
  font-size: 6rem;
}

.result {
  border: 3px solid var(--second-color);
  background-color: white;
  width: 300px;
  font-size: 6rem;
  outline: none;
}

.yay {
  border: 3px solid greenyellow;
}